parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    excludePaths:
        analyse:
            - src/Filter/OnlyIn/Mixed/MixedBothOnlyIn.php
    ignoreErrors:
        - '#Call to protected method*#'
        - '#Parameter \#1 \$stream of class FiiSoft\\Jackdaw\\Operation\\Sending\\Feed constructor expects FiiSoft\\Jackdaw\\Internal\\ForkCollaborator, FiiSoft\\Jackdaw\\Internal\\SignalHandler given.#'
        - '#Parameter \#1 ...\$streams of class FiiSoft\\Jackdaw\\Operation\\Sending\\FeedMany constructor expects FiiSoft\\Jackdaw\\Internal\\ForkCollaborator, FiiSoft\\Jackdaw\\Internal\\SignalHandler given.#'
        - '#Property FiiSoft\\Jackdaw\\Consumer\\Reference::\$value is never read, only written.#'
        - '#Property FiiSoft\\Jackdaw\\Consumer\\Reference::\$key is never read, only written.#'
        - '#Parameter \#4 \$length of function substr_compare expects int, null given.#'
        - '#Property FiiSoft\\Jackdaw\\Collector\\Adapter\\ArrayAccessAdapter::\$buffer is never read, only written.#'
        - '#.*::(toJsonAssoc|toJson)\(\) should return string but returns string\|false.#'
        -
            message: '#Parameter \#1 \$function of class ReflectionFunction constructor expects Closure\|string, callable\(\): mixed given.#'
            path: 'src/Internal/Helper.php'
        -
            message: '#Method FiiSoft\\Jackdaw\\Mapper\\JsonEncode::map\(\) should return string but returns string\|false.#'
            path: 'src/Mapper/JsonEncode.php'
        -
            message: '#Parameter \#2 \$length of function fgets expects int<0, max>, int given.#'
            path: 'src/Producer/Resource/TextFileReader.php'
        -
            message: '#Cannot access an offset on *#'
            path: 'src/Producer/Producers.php'
        -
            message: '#Parameter \#1 \$str of function md5 expects string, string\|false given.#'
            path: 'src/Reducer/CountUnique.php'
        -
            message: '#Method FiiSoft\\Jackdaw\\Mapper\\Split::map\(\) should return array<int, string> but returns array<int, string>\|false.#'
            path: 'src/Mapper/Split.php'