parameters:
    level: 7
    treatPhpDocTypesAsCertain: false
    excludePaths:
        analyse:
            - src/Filter/OnlyIn/Mixed/MixedBothOnlyIn.php
            - src/Internal/Collection/StreamCollection81.php
            - src/Internal/Iterator/StreamIterator81.php
            - src/Internal/Iterator/FastIterator81.php
    ignoreErrors:
        - '#Call to protected method*#'
        - '#Parameter \#1 \$stream of class FiiSoft\\Jackdaw\\Operation\\Sending\\Feed constructor expects FiiSoft\\Jackdaw\\Internal\\ForkCollaborator, FiiSoft\\Jackdaw\\Internal\\SignalHandler given.#'
        - '#Parameter \#1 ...\$streams of class FiiSoft\\Jackdaw\\Operation\\Sending\\FeedMany constructor expects FiiSoft\\Jackdaw\\Internal\\ForkCollaborator, FiiSoft\\Jackdaw\\Internal\\SignalHandler given.#'
        - '#Parameter \#4 \$length of function substr_compare expects int, null given.#'
        - '#Property FiiSoft\\Jackdaw\\Collector\\Adapter\\ArrayAccessAdapter::\$buffer is never read, only written.#'
        - '#.*::(toJsonAssoc|toJson)\(\) should return string but returns string\|false.#'
        -
            message: '#Parameter \#1 \$function of class ReflectionFunction constructor expects Closure\|string, callable\(\): mixed given.#'
            path: 'src/Internal/Helper.php'
        -
            message: '#Method FiiSoft\\Jackdaw\\Mapper\\JsonEncode::map\(\) should return string but returns string\|false.#'
            path: 'src/Mapper/JsonEncode.php'
        -
            message: '#Parameter \#2 \$length of function fgets expects int<0, max>, int given.#'
            path: 'src/Producer/Resource/TextFileReader.php'
        -
            message: '#Cannot access an offset on *#'
            path: 'src/Producer/Producers.php'
        -
            message: '#Parameter \#1 \$str of function md5 expects string, string\|false given.#'
            path: 'src/Reducer/CountUnique.php'
        -
            message: '#Method FiiSoft\\Jackdaw\\Mapper\\Split::map\(\) should return array<int, string> but returns list<string>\|false.#'
            path: 'src/Mapper/Split.php'
        -
            message: '#Parameter \#1 \$fields of static method FiiSoft\\Jackdaw\\Mapper\\Mappers::remove\(\) expects array<int\|string>\|int\|string, array<array<int\|string>\|int\|string> given.#'
            path: 'src/Stream.php'
        -
            message: '#Property FiiSoft\\Jackdaw\\Consumer\\Reference\\RefValueKey::\$(value|key) is never read, only written.#'
            path: 'src/Consumer/Reference/RefValueKey.php'
        -
            message: '#Property FiiSoft\\Jackdaw\\Consumer\\Reference\\RefValue::\$value is never read, only written.#'
            path: 'src/Consumer/Reference/RefValue.php'
        -
            message: '#Property FiiSoft\\Jackdaw\\Consumer\\Reference\\RefKey::\$key is never read, only written.#'
            path: 'src/Consumer/Reference/RefKey.php'
        -
            message: '#Call to function method_exists\(\) with .+#'
            path: 'src/Producer/Generator/Uuid/Ramsey/RamseyUuidGenerator.php'
        -
            message: '#Call to function method_exists\(\) with .+#'
            path: 'src/Producer/Generator/Uuid/Symfony/SymfonyUuidGenerator.php'
        -
            message: '#Offset 0 on array.+ on left side of \?\? always exists and is not nullable.#'
            path: 'src/Stream.php'
        -
            message: '#Method FiiSoft\\Jackdaw\\Stream::toArray\(\) should return array<int\|string, mixed> but returns array<int\|string, mixed>\|ArrayAccess<int\|string, mixed>.#'
            path: 'src/Stream.php'